<ul metal:define-macro="default_home_nav">
	<li class="get_started_btn"><a href="#"></a></li>
	<li class="features_btn"><a href="features.html"></a></li>
</ul>

<ul metal:define-macro="default_subpage_nav">
	<li class="myapp_btn">
		<a title="myapp" href="myapp.html"></a>
	</li>
		<li class="features_btn">
			<a title="Features" href="features.html"></a>
			<nav class="submenu">
				<ul>
					<li class="">
						<a href="features.html">Features</a>
						<a href="pricing.html">Pricing</a>
						<a href="about.html">About</a>
						<a href="terms.html">Terms</a>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</li>
</ul>

<nav class="subpage_topnav" metal:define-macro="subpage_topnav">
	<ul>
		<li class="default" tal:attributes="class 'active' if title.lower()=='features' else default"><span><a href="features.html">Features</a></span></li>
		<li class="default" tal:attributes="class 'active' if title.lower()=='pricing' else default"><span><a href="pricing.html">Pricing</a></span></li>
		<li class="default" tal:attributes="class 'active' if title.lower()=='about' else default"><span><a href="about.html">About</a></span></li>
		<li class="default" tal:attributes="class 'active' if title.lower()=='terms' else default"><span><a href="terms.html">Terms</a></span></li>
		<li class="default" tal:attributes="class 'active' if title.lower()=='contact' else default"><span><a href="contact.html">Contact</a></span></li>
	</ul>
</nav>
	
<span metal:define-macro="default_footer_content">
	<a href="#">About</a><a href="#">Terms</a><a href="#">Contact</a>
</span>
