<!DOCTYPE html> 
<html> 
  <head>
 
  <meta charset="utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/h/apple-touch-icon-114x114-precomposed.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/m/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/img/l/apple-touch-icon-57x57-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="/img/l/apple-touch-icon-57x57-precomposed.png">
	
  <!-- fav and touch icons -->
	<link rel="shortcut icon" href="/img/favicon.ico" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
 
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/js/libs/jquery-1.6.4.min.js"><\/script>')</script>
 
 	<script type="text/javascript" src="/js/libs/iscroll.js"></script>
	<script type="text/javascript">
	TIM = {}

	TIM.globals = {
		apiBaseURL: '${api_endpoint}'
	}
	</script>

  <script type="text/javascript" metal:define-slot="page_script"></script>
  <script type="text/javascript" src="/js/script.js"></script>

  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <script>window.jQuery.mobile || document.write('<script type="text/javascript" src="/js/libs/jquery.mobile-1.0.js"><\/script>')</script>

</head> 

<body tal:define="fragments load: fragments.html">

	<div id="container" data-role="page" metal:define-slot="page_content" > 
		<div data-role="header"><h1>thisis.me</h1></div> 
		<div id="content" data-role="content"><p>content...</p></div> 
		<div data-role="footer"><h4>footer</h4></div> 
	</div> <!-- end of #container -->

  <!-- Setup for Google Analytics -->
  <script>
    var _gaq=[["_setAccount","UA-27973181-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
