.flip-set {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);	     
  -moz-transform-style: preserve-3d;	  
  -moz-transform: translateZ(0);
}

.flip-container {
  position: absolute;
  top: 0;
  left: 0;  
}

.flip-top-container,
.flip-bottom-container,
.flip-bottom-inner-container {
  position: relative;
  left: 0;
  overflow: hidden;
  
  -webkit-transform-style: preserve-3d;	    
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;	    
  -moz-backface-visibility: hidden;
}

.flip-transitionable {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: .6s;
  -moz-transition-property: -webkit-transform;
  -moz-transition-duration: .6s;	  	  
}

.fastforward .flip-transitionable {
  -webkit-transition-duration: .05s;
  -moz-transition-duration: .05s;	  	  
}

.flip-top-container {
  top: 0;
  -webkit-transform-origin: 50% 100%;	    
  -moz-transform-origin: 50% 100%;
  /*outline: solid 1px blue;*/
}

.flip-top-container .photoDetail .caption {
  display:none;
}

.flip-top-container .full-page .footer {
  display:none;
}

.flip-top-container .event.half-page {
  height:100%;
}


.flip-bottom-container {
  bottom: 0;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  /*outline: solid 1px red;*/
}

.folded-top .flip-bottom-container {
  -webkit-transform: rotateX(180deg);	    
  -moz-transform: rotateX(180deg);
}

.folded-bottom .flip-top-container {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}

.creases .flip-bottom-container {
  outline: solid 1px red;
}

.creases .flip-top-container {
  outline: solid 1px blue;
}

.creases .flip-transitionable {
  -webkit-transition-duration: 6s;
  -moz-transition-duration: 6s;
}