/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



   /* ==|== primary styles =====================================================
      Author:
      ========================================================================== */
  
  
  
  body {
    font-family:arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* remove highlight color for tap events */
    -webkit-backface-visibility: hidden; /* helps with flickering? */
    background-color:#666;
    height:100%;
  }
  
  #loadingImg {
    display:none;
    background:transparent url(/img/loading.gif) center center no-repeat;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:100;
    text-align:center;
  }
  
  #loadingImg > div {
    background:rgba(60,60,60,.6);
    position:absolute;
    top:40%;
    height:60px;
    line-height:30px;
    width:30%;
    border:1px solid #999;
    border-radius:8px;
    left:35%;
    margin:0 auto;
    color:#ccc;
  }
  
  .loading #loadingImg {
    display:block;
  }
  
  #errorMessage {
    position:absolute;
    bottom:0;
    width:100%;
    background-color:yellow;
  }
  
  #errorMessage > div {
    text-align:center;
    padding:12px;
  }
  
  #app {
    /* gotta get rid of these explicit pixel sizes */
    width:100%;
    position:relative;
    min-height:100%;
    overflow:hidden; 
  }
  
  .navOpen #contentContainer {
    /* left:-80px; */
  }
  
  @media screen and (min-width: 420px) {
    #app {
      /* gotta get rid of these explicit pixel sizes */
      width:320px;
      min-height:370px;
    }
  }
  
  @media screen and (width: 320px) {
    #app {
      /* gotta get rid of these explicit pixel sizes */
      width:320px;
      min-height:370px;
    }
  }
  
  @media screen and (width: 390px) {
     #app {
       /* gotta get rid of these explicit pixel sizes */
       min-height:390px;
     }
   }
  
  @media screen and (height: 320px) {
    #app {
      /* gotta get rid of these explicit pixel sizes */
      min-height:320px;
      width:480px;
    }
  }
  
  @media screen and (width: 360px) {
     #app {
       /* gotta get rid of these explicit pixel sizes */
       width:360px;
       min-height:515px;
     }
   }
  
  #app.transitioning {
    -webkit-perspective:1000;
  }
  
  .appPage {
    position:absolute;
    width:100%;
    min-height:100%;
    display:none;
    border:0;
    background-color:#333;
   -webkit-transform:translate3d(0,0,0);
   -webkit-backface-visibility: hidden;
   box-sizing:border-box;
   -moz-box-sizing:border-box; /* Firefox */
   -webkit-box-sizing:border-box; /* Safari */
  }
  
  .appPage.active {
    display:block;
  }
  
  .appPage.toolbar-top {
    padding-top:40px;
  }
  
  #contentContainer {
    position:absolute;
    top:0;
    left:0;
    min-height:100%;
    width:100%;
    z-index:1;
    /* background-color:#666; */
  }
  
  #splashScreen {
    background-color:#cd212b;
    background:#cd212b url(/img/thisisme_logo.png) center 30% no-repeat;
  }
      
  h1 { margin:0 }

   #navToggle {
      position:absolute;
       right:0px;
      display:block;
      height:36px;
      width:36px;
      background:url(/img/nav-toggle.png);
      float:right;
      z-index:10000;
   }
   
   .initializing #featureNav, .initializing #navToggle {
      display:none;
     }
   
   .navOpen #featureNav {
     right:0px;
    }
    
    #featureNav {
       position:absolute;
       right:-80px;
       top:0px;
       bottom:0px;
       width:80px;
      -webkit-transition: .3s cubic-bezier(.54, .16, .57, .88);
      z-index:30;
    }
    
  #featureNav ul {
    background-color:#cd212b;
    /* display:none; */
    color:#fff;
    height:100%;
    padding-top:45px;
  }
  
  #featureNav.active ul {
    display:block;
  }
   
   #featureNav li {
     list-style:none;
     padding:12px 4px;
     font-size:14px;
   }
   
   #featureNav .selected {
      font-weight:bold;
    }
    
    
   .loadingPrevious {
     position:absolute;
     height:100%;
     width:100%;
     background:#333 url(/img/loading.gif) center 2% no-repeat;
     z-index:0;
   }
   
   .loadingNext {
     position:absolute;
     height:100%;
     width:100%;
     background:#333 url(/img/loading.gif) center 98% no-repeat;
     z-index:0;
   }
   
   /* styles for comments */
   
   .comment-list {
     background-color:#fff;
     font-size:12px;
   }
   
   .comment-list .split-pane {
      padding-left:52px;
    }
   
   .comment-list ul.service-tabs {
     width:45px;
     list-style: none;
     padding:0;
     margin:8px 0 0 -45px;
     float:left;
     
   }
   
   .comment-list .service-tabs li {
     padding:0; margin:0;
     height:35px;
     width:45px;
     margin-bottom:8px;
     margin-left:0px;
     position:relative;
     right:-1px;
   }
   
   .comment-list .service-tabs li.selected {
      background: url(/img/selected_border.png) right center no-repeat;
    }
   
   .comment-list .service-tabs li.facebook {
      background: url(/img/icons/35/facebook_35.png) 2px center no-repeat;
    }
  
    .comment-list .service-tabs li.twitter {
        background: url(/img/icons/35/twitter_35.png) 2px center no-repeat;
      }
    
    .comment-list .service-tabs li.instagram {
        background: url(/img/icons/35/instagram_35.png) 2px center no-repeat;
      }
    
      .comment-list .service-tabs li.facebook.selected {
          background: url(/img/icons/35/facebook_35.png) 2px center no-repeat, url(/img/selected_border.png) right center no-repeat;
        }
        
    .comment-list .service-tabs li.twitter.selected {
         background: url(/img/icons/35/twitter_35.png) 2px center no-repeat, url(/img/selected_border.png) right center no-repeat;
       }
       
       .comment-list .service-tabs li.instagram.selected {
             background: url(/img/icons/35/instagram_35.png) 2px center no-repeat, url(/img/selected_border.png) right center no-repeat;
           }
     
   
   .comment-list .comments {
     box-sizing:box-border;
     padding:8px 16px 8px 0;
     border-left:1px solid #ccc;
   }   
   
   .comment-list .comment {
     margin-bottom:8px;
     padding-left:50px;
     padding-bottom:4px;
     border-bottom:1px solid #f6f6f6;
   }
   
   .comment-list .user-thumb {
      float:left;
      margin-left:-45px;
      background: url(/img/profile_thumb_35.png) center center no-repeat;
      height:35px;
      width:35px;
    }
    
    .comment-list .user-name {
        font-weight:bold;
        margin-bottom:4px;
      }
      
        .comment-list .time-ago {
            float:right;
            color:#999;
            font-weight:normal;
          }
   
  .comment-list .toolbar {
    position:absolute;
    top:0px;
    height:36px;
    color:#fff;
    background:rgba(60,60,60,.8);
    width:100%;
    z-index:9000;
    overflow:hidden;

    -moz-box-shadow:    0 0px 7px 2px #555;
    -webkit-box-shadow: 0 0px 7px 2px #555;
    box-shadow:         0 0px 7px 2px #555;
    text-align:center;
  }
  
  .comment-list .toolbar h1 {
    font-size:18px;
    font-weight:normal;
    text-shadow:#333 1px 1px 2px;
    line-height:40px;
    text-align:center;
  }
  
  .comment-list  .toolbar .back-link  {
    position:absolute;
    left:8px;
    top:2px;
    height:36px;
    width:24px;
    background: transparent url(/img/back_arrow.png) no-repeat center center;
  }
  
   
   .mi-header { }
   
   #feature .event { clear: both; border-bottom:1px dotted black; margin-bottom:1em; }

   .featureIcon { float:left; margin-right:1em; } 

   /*.event { min-height: 5em; }
   .event em { font-size:75%; }
   .event p { margin-top:.33em; }*/

   #authorFeatures .ui-content a { margin: 1em; display: inline-block;}
   
    
    /* Transitions from jQtouch (with small modifications): http://www.jqtouch.com/
    Built by David Kaneda and maintained by Jonathan Stark.
    */
    .in, .out {
    	-webkit-animation-timing-function: ease-in-out;
    	-webkit-animation-duration: 300ms;
    }

    .slide.out {
    	-webkit-transform: translateX(-100%);
    	-webkit-animation-name: slideouttoleft;
    	z-index:0;
    }

    .slide.in {
    	-webkit-transform: translateX(0);
    	-webkit-animation-name: slideinfromright;
    	z-index:10;
    }
    
    .slide.out.reverse {
    	-webkit-transform: translateX(100%);
    	-webkit-animation-name: slideouttoright;
    	z-index:10;
    }

    .slide.in.reverse {
    	-webkit-transform: translateX(0);
    	-webkit-animation-name: slideinfromleft;
    	z-indez:0;
    }
    
    .fade.out {
    	z-index: 0;
    	-webkit-animation-name: fadeout;
    }

    .fade.in {
    	opacity: 1;
    	z-index: 10;
    	-webkit-animation-name: fadein;
    }
    
    @-webkit-keyframes slideinfromright {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(0); }
    }

    @-webkit-keyframes slideinfromleft {
        from { -webkit-transform: translateZ(-20px); }
        70% { -webkit-transform: translateZ(0); }
        to { -webkit-transform: translateX(0); -webkit-transform: translateZ(0); }
    }

    @-webkit-keyframes slideouttoleft {
        from { -webkit-transform: translateX(0); }
        30% { -webkit-transform: translateZ(-20px); }
        to { -webkit-transform: translateX(0); -webkit-transform: translateZ(-20px); }
    }

    @-webkit-keyframes slideouttoright {
        from { -webkit-transform: translateX(0); }
        to { -webkit-transform: translateX(100%); }
    }
    
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to { opacity: 0; }
    }
    
    
    .flip {
    	-webkit-animation-duration: .65s;
    	-webkit-backface-visibility:hidden;
    	-webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    }

    .flip.out {
    	-webkit-transform: rotateY(-180deg) scale(.8);
    	-webkit-animation-name: flipouttoleft;
    }

    .flip.in {
    	-webkit-transform: rotateY(0) scale(1);
    	-webkit-animation-name: flipinfromleft;
    }

    /* Shake it all about */

    .flip.out.reverse {
    	-webkit-transform: rotateY(180deg) scale(.8);
    	-webkit-animation-name: flipouttoright;
    }

    .flip.in.reverse {
    	-webkit-transform: rotateY(0) scale(1);
    	-webkit-animation-name: flipinfromright;
    }

    @-webkit-keyframes flipinfromright {
        from { -webkit-transform: rotateY(-180deg) scale(.8); }
        to { -webkit-transform: rotateY(0) scale(1); }
    }

    @-webkit-keyframes flipinfromleft {
        from { -webkit-transform: rotateY(180deg) scale(.8); }
        to { -webkit-transform: rotateY(0) scale(1); }
    }

    @-webkit-keyframes flipouttoleft {
        from { -webkit-transform: rotateY(0) scale(1); }
        to { -webkit-transform: rotateY(-180deg) scale(.8); }
    }

    @-webkit-keyframes flipouttoright {
        from { -webkit-transform: rotateY(0) scale(1); }
        to { -webkit-transform: rotateY(180deg) scale(.8); }
    }
    
    
   
   #detailContainer {
     background-color:#fff;
   }
   
   .hidden {
     display:none;
   }
   
   /* Newsfeed */

   /*.flippage-container .event .content { position: absolute; top: 50%; }*/


   .profile {
   	width: 300px;
   	padding: 10px;
   }

   .profile .top {
   	padding-bottom: 5px;
   	height: 70px;
   }

   .profile .top .title-container {
   	float: none;	
   	display: table-cell;
   	vertical-align: middle;

   	height: 70px;

   	padding-left: 5px;
   	padding-right: 10px;
   }

   .profile .top .title-container .title{
   	font-weight: bold;
   	color: #000;
   }

   .profile .top .title-container .link a{
   	font-weight: bold;

   	color: #757575;
   	text-decoration: none;
   }

   .profile .top .title-container .caption {
   	height: 18px;

   	font-size: 14px;

   	width: 200px;
       white-space: nowrap;
       word-wrap: break-word;
   	text-overflow: ellipsis;
   	overflow: hidden;
   }


   .profile .top > div{
   	float: left;
   }

   /*.profile .top .avatar {
   	height: 50px;
   }*/
   .profile .top .avatar .frame {
   	height: 65px;
   	width: 65px;
   	margin-left: 4px;
   	margin-right: 4px;
   	padding: 1px;
   	background-color: #fff;

   	-webkit-box-shadow: 0px 0px 2px .1px #555;
   	-moz-box-shadow:    0px 0px 2px .1px #555;

   	text-align: center;
   }

   .profile .top .avatar img {
   	max-height: 100%;
   	max-width: 100%;
   	min-height: 100%;
   	min-width: 100%;
   }

   .profile .top .avatar img.data-spinner {
   	min-height: 0;
   	min-width: 0;
   }


   /*.profile .top .avatar img.loaded {
   	min-height: 100%;
   }*/
   .profile .description {
   	float: none;

   	font-size: 16px;
   	color: #000;

   	line-height: 20px;
   	width: 300px;
   	min-height: 140px;
   }

   .profile .profile-url {
   	height: 20px;
   	width: 20px;
   }

   .profile .profile-url img {
   	max-height: 100%;
   	max-width: 100%;
   }

   .profile .meta-data {
   	margin-top: 10px;
   	float: left;
   	width: 100%;
   }

   .profile .meta-data h3 {
   	margin-top: 15px;
   	margin-bottom: 0px;
   }

   .profile .meta-data hr {
   	color: #757575;
   }

   .profile .meta-data .phone a {
   	text-decoration: none;
   	font-style: normal;
   	font-weight: 100;
   	color: #000;
   }

   .flippage-container .mi-content {
   	margin: 0;
   	padding: 0;
   	width: 100%;

   	background-color: #F9F7F7;
   }

   .flippage-container .event {	
       height: 100%; 
       margin: 0; /*Allow for footer height*/
      	position: relative;
   }

   .flippage-container .event.half-page {
   	height: 50%;
   	position: relative;
   }

   .flippage-container .event .content {
   	width: 100%;
   }

   .flippage-container .event.half-page:first-child {
   	border-bottom:1px inset #777;
   }

   .flippage-container .event.half-page .content {
   	padding-top: 10px; 
   	height: 90px;  
   	display: table-cell;
   	vertical-align: middle;
   }
   
   .flippage-container .event.full-page .content {
   	padding-top: 10px; 
   	height: 290px; 
   	float: left; 
   }
  
   .flippage-container .event .content .inner-text {
   	float: left;
   	padding: 10px 10px 10px 10px;
   	text-align: left;
   	margin: 0 auto;
   }

   .flippage-container .event.full-page .content .inner-text {
   	padding-bottom: 0;
   }

   .flippage-container .event .content .inner-text p {
   	padding: 0;
   	margin: 0;

   	overflow:hidden;
   	display: -webkit-box; 
       -webkit-box-orient:vertical; 
       -webkit-line-clamp:3;
   /*	max-height: 56px;*/
   }
  
   .flippage-container .event .content .inner-image {
   /*	padding: 5px 0;*/
   	height: 238px;

   /*	background-color: black;*/
   	text-align: center;
   }

   .flippage-container .event .content .inner-image img {
   	max-height: 100%;
   	max-width: 100%;
   	min-height: 50%;
   	min-width: 50%;
   }

   .flippage-container .event .footer {
   	padding: 5px 5px 5px 5px;
   	margin: 0;
   	bottom: 0;
   	position: absolute;
   }

   .flippage-container .event.half-page:first-child .footer {
   /*	bottom: 50%;*/
   }

   .flippage-container .event .footer .info {
   	float: none;	
   	display: table-cell;
   	vertical-align: middle;

   	height: 100%;

   	padding-left: 5px;
   	padding-right: 10px;
   }

   .flippage-container .event .footer .info .author a{
   	font-weight: bold;
   	color: #000;
   	text-decoration: none;
   }



   .flippage-container .event .footer .info .caption {
   	height: 18px;

   	font-size: 14px;

   	width: 250px;
       white-space: nowrap;
       word-wrap: break-word;
   	text-overflow: ellipsis;
   	overflow: hidden;
   }

   .flippage-container .event .footer > div{
   	float: left;
   }

   .flippage-container .event .footer .avatar {
   	height: 40px;
   }

   .flippage-container .event .footer .avatar .frame {
   	height: 33px;
   	width: 33px;
   	margin-left: 4px;
   	margin-right: 4px;
   	padding: 1px;
   	background-color: #fff;

   	-webkit-box-shadow: 0px 0px 2px .1px #555;
   	-moz-box-shadow:    0px 0px 2px .1px #000;
   }

   .flippage-container .event .footer .avatar img {
   	max-height: 100%;
   	max-width: 100%;

   }

   .flippage-container .event .baseline {
   	height: 15px;
   	padding-top: 7px;
   }

   .flippage-container .event .baseline img {
   	float: left;
   	padding-left: 5px;
   	height: 15px;
   	width: 15px;
   }

   .flippage-container .event .baseline .fuzzy-time {
   	float: left;

   	padding-left: 5px;
   	padding-top: 2px;

   	color: gray;
   	font-size: 12px;
   }

   

   /*
    * Media queries for responsive design https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
    */


   /* Styles for desktop and large screen ----------- */

   /*styles for 800px and up!*/
   @media only screen and (min-width: 800px) {
     /* Styles */
   }/*/mediaquery*/


   /* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
   @media
   only screen and (-webkit-min-device-pixel-ratio: 1.5),
   only screen and (-o-min-device-pixel-ratio: 3/2),
   only screen and (min--moz-device-pixel-ratio: 1.5),
   only screen and (min-device-pixel-ratio: 1.5) {
     /* Styles */
   }

   /* jQuery Mobile sets this to 20% by default, which is too small */
   .ui-field-contain label.ui-slider {
   	width: auto;
   }














/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
 */


/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 800px) {
  /* Styles */
}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
