@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Holtwood+One+SC);

#cover-container {
  background:#000 url(/phil/asset/cover_bg.jpg) no-repeat left top;
  background-size:cover;
}

.cover-page {
  width:100%;
  height:100%;
  color:#fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

.cover-page h1.title {
  font-size:34px;
  font-weight:normal;
  color:#fff200;
  text-align:left;
  -webkit-text-stroke: 1px #333;
  position:absolute;
  top:22px;
  left:12px;
  font-family: 'Holtwood One SC',serif;
  line-height:1.1;
  text-transform:uppercase;
}

.cover-page a, .cover-page a:visited {
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}


.cover-page .primary-story {
  font-size:16px;
  font-weight:bold;
  color:#fff;
  position:absolute;
  top:150px;
  width:250px;
  left:28px;
  font-family:helvetica,sans-serif;
  line-height:1.1;
  text-shadow:1px 1px #333;
}

.cover-page .secondary-story {
  position:absolute;
  bottom:25px;
  width:100px;
  left:15%;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  font-family:helvetica,sans-serif;
  line-height:1.1;
  text-shadow:1px 1px #333;
  text-overflow:ellipsis;
  
}

.cover-page .tertiary-story {
  position:absolute;
   bottom:25px;
   width:100px;
   right:28px;
   font-size:13px;
   font-weight:bold;
   color:#fff;
   font-family:helvetica,sans-serif;
   line-height:1.1;
   text-shadow:1px 1px #333;
   text-overflow:ellipsis;
  
}

/* cameron's styles */


.cover-page .header
{
	display:block;
	left:0;
	margin:10%;
	margin-top:0;
	padding:0;
	position:absolute;
	top:0;
	width:80%;
}

.cover-page .header span
{
	display:block;
	font-family:"Holtwood One SC";
	text-align:left;
	white-space:nowrap;
}

.cover-page #first-name
{
	-webkit-text-fill-color:#FF0;
	-webkit-text-stroke:1px #000;
	line-height:30%;
	margin-top:12%;
	text-shadow:0 2px 4px rgba(0,0,0,0.5);
	z-index:2;
	font-size:40px;
}

.cover-page #last-name
{
	-webkit-text-fill-color:#FFF;
	-webkit-text-stroke:1px #000;
	margin-left:15%;
	text-shadow:5px 5px 14px rgba(0,0,0,0.5);
	z-index:3;
	font-size:32px;
}

.cover-page section
{
	bottom:0;
	left:0;
	position:absolute;
	width:100%;
}

.pullquote
{
	display:block;
	font-family:'Helvetica Neue';
	font-size:22px;
	font-weight:700;
	line-height:1.2;
	margin-bottom:30px;
	text-shadow:0 1px 3px rgba(0,0,0,0.5);
	width:66%;
	display:webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow:hidden;
	text-overflow: ellipsis;
}

.pullquote a
{
	color:#FFCE78;
	text-decoration:none;
}

.pullquote a
{
	color:#FFCE78;
	text-decoration:none;
}
