<!DOCTYPE html> 
<html> 
  <head>
 
  <meta charset="utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	
  <title>${author_name}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <!-- link rel="apple-touch-icon-precomposed" sizes="114x114" href="/${author_name}/asset/apple-touch-icon-114x114-precomposed.png" -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/h/new-logo.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/m/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/img/l/apple-touch-icon-57x57-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="/img/l/apple-touch-icon-57x57-precomposed.png">
	
  <!-- fav and touch icons -->
	<link rel="shortcut icon" href="/img/favicon.ico" />
	
	<!-- iPhone startup icon -->
  <link rel="apple-touch-startup-image" href="/img/m/apple-touch-icon-72x72-precomposed.png">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!--the script prevents links from opening in mobile safari. https://gist.github.com/1042026-->
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css?v=1">
	<link rel="stylesheet" href="/css/flips.css?v=1">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/js/libs/modernizr-custom.js"></script>
  <!-- Media Queries Polyfill https://github.com/shichuan/mobile-html5-boilerplate/wiki/Media-Queries-Polyfill -->
  <script>Modernizr.mq('(min-width:0)') || document.write('<script src="/js/libs/respond.min.js">\x3C/script>')</script> 
	<script src="/js/libs/dust-core-0.4.0.js"></script>
 
</head> 

<body tal:define="fragments load: fragments.html" class="mobile-viewport splash">

	<div id="container" data-role="page" metal:define-slot="page_content" > 
		<div data-role="header"><h1>thisis.me</h1></div> 
		<div id="content" data-role="content"><p>content...</p></div> 
		<div data-role="footer"><h4>footer</h4></div> 
	</div> <!-- end of #container -->

 	<script type="text/javascript">
	TIM = {}

	TIM.globals = {
		apiBaseURL: '${api_endpoint}'
	}
	
	TIM.pageInfo = {};
	TIM.pageInfo.authorName = '';
	</script>
	
  
	<!-- Grab CDN version of jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

	<script src="/js/libs/jquery.swipe-events.js"></script>
	<script src="/js/libs/jquery.touchSwipe-1.2.5.js"></script>
	<script src="/js/libs/flips.js"></script>
	
  <!-- scripts concatenated and minified via ant build script -->
  <script src="/js/mylibs/helper.js"></script>
	<script src="/js/libs/underscore.js"></script>
	<script src="/js/libs/backbone.js"></script>
	<script src="/js/libs/iscroll.js"></script>
	<script src="/js/libs/jquery.timeago.js"></script>
	<script src="/js/libs/jquery.fittext.js"></script>
	<script src="/js/libs/jquery.jsonp-2.3.1.js"></script>
  <!-- end concatenated and minified scripts-->

  <script>
    // iPhone Scale Bug Fix, read this when using http://www.blog.highub.com/mobile-2/a-fix-for-iphone-viewport-scale-bug/
    MBP.scaleFix();
  </script>
	
	<script type="text/javascript" metal:define-slot="page_script"></script>
	
  <script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/models.js"></script>
	<script type="text/javascript" src="/js/collections.js"></script>
	<script type="text/javascript" src="/js/views.js"></script>

  
  <!-- Setup for Google Analytics -->
  <script>
    var _gaq=[["_setAccount","UA-27973181-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
</body>
</html>
